.date_picker_wrap {
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.date_picker {
    font-family: 'Mona Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
}

.header button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.header span {
    font-size: 16px;
    font-weight: bold;
}

.calendar {
    padding: 10px;
}

.day_names {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    margin-bottom: 5px;
}

.day_names span {
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    background: linear-gradient(145deg, #fff, #f0f0f0);
    border-radius: 8px;
    transition: all .3s ease;
}

.day.selected {
    color: #fff;
    background: blue;
}

.day:hover {
    background: rgb(0, 0, 255, 0.7);
    color: #fff;
}

.day.set_reminder:hover {
    background: blue;
}

.day.empty,
.day.past_date {
    cursor: not-allowed;
    background: #f5f5f5;
    opacity: 0.5;
}

.day.empty:hover,
.day.past_date:hover {
    color: unset;
    box-shadow: none;
    transform: none;
}

.add_reminder {
    text-align: center;
    padding: 10px;
}

.add_reminder .btn {
    padding: 10px 20px;
    color: #fff;
    background-color: blue;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 8px;
    transition: all .3s;
}

.add_reminder .btn:hover {
    background-color: #fff;
    color: blue;
    border-color: blue;
}

.btn.clicked {
    background-color: #fff;
    color: blue;
    border-color: blue;
}

.btn.clicked:hover {
    background-color: blue;
    color: #fff;
    border-color: transparent;
}

.reminder_text {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s, opacity 0.5s;
}

.reminder_text.show {
    max-height: 100px;
    opacity: 1;
}

.reminder_text textarea {
    display: block;
    width: 99%;
    margin: 0;
    padding: 0;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.set_reminder {
    position: relative;
}

.hasReminder {
    position: absolute;
    width: 5px;
    height: 5px;
    background: red;
    border-radius: 50%;
    top: 20%;
    right: 20px;
}

.month_wrap {
    width: max-content;
    display: flex;
    gap: 4px;
    align-items: center;
    flex-wrap: wrap;
}

.month_wrap .slash {
    font-size: 30px;
    font-weight: 100;
}

.month_nav {
    min-width: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 60px;
    width: 100%;
}

.month_nav button {
    opacity: 0.5;
    transition: all .4s;
}

.month_nav button:hover {
    opacity: 1;
}

.reminder_info {
    position: absolute;
    z-index: 1;
    background: rgb(0, 0, 255, 0.7);
    padding: 10px 20px;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    max-width: 100px;
    min-width: 100px;
    overflow-wrap: break-word;
    opacity: 0;
    color: #fff;
    visibility: hidden;
    min-height: 40px;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

.reminder_info::after {
    content: '';
    position: absolute;
    bottom: -7px;
    right: 50%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgb(0, 0, 255, 0.7);
    transform: rotate(180deg) translateX(-50%);
}

.reminder_info div {
    padding: 10px;
    /* background: blue; */
    min-width: 80px;
}

.day.set_reminder:hover .reminder_info {
    opacity: 1;
    visibility: visible;
}

.current_month {
    position: relative;
    cursor: pointer;
}

.month_list_wrap {
    width: 100%;
    position: absolute;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: blue;
    max-height: 100px;
    z-index: 1;
    min-width: 70px;
    align-items: center;
    min-height: 100px;
}

.month_list {
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    background: blue;
    padding: 0;
    max-height: 100px;
    overflow: auto;
    z-index: 1;
    min-width: 70px;
    align-items: center;
}

.month_list::-webkit-scrollbar {
    width: 0px;
}

.month_list li {
    padding: 5px 10px;
    background-color: blue;
    font-size: 14px;
    text-align: center;
    color: #fff;
    transition: all .5s;
}

.month_list li.active_month {
    background-color: #fff;
    color: blue;
}

.month_list li:hover {
    color: blue;
    background: #fff;
}

.month_list li:first-child {
    padding-top: 10px;
}

.month_list li:last-child {
    padding-bottom: 10px;
}

.month_list::before {
    content: '';
    position: absolute;
    top: -7px;
    right: 50%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgb(0, 0, 255);
    transform: rotate(0deg) translateX(50%);
}